<form [formGroup]="_form" (ngSubmit)="_adicionar()">
    <div>
        <div class="ali">
                <select class="browser-default" formControlName="tarefa" (click)="getPessoas()">
                  <option value="AA" disabled selected>Tarefa</option>
                  <option *ngFor="let x of alocacaoT$ | async" [ngValue]="x">{{x.titulo}}</option>>
                </select>
          </div>
          
          <div class="ali">
            <select class="browser-default" formControlName="pessoa">
              <option value="AA" disabled selected>Pessoa</option>
              <option *ngFor="let x of alocacaoP$ | async" [ngValue]="x">{{x.nome}}</option>
            </select>
          </div>
          <div class="input-field col s2" class="ali" class="but">
            <button class="waves-effect waves-light btn">Adicionar</button>
          </div>
    </div>
</form>     

<p>Você selecionou a tarefa: {{ _form.value['tarefa'].titulo }}</p>
        
        <div class="pos-tabela ">
            <table class="responsive-table " class="highlight">
              <thead>
                <tr>
                    <th>Pessoa</th>
                    <th class="table-button">Apagar</th>
                </tr>
              </thead>
            
              <tbody>
                <tr *ngFor="let x of alocacao$ | async">
                    <td>{{ x.pessoa.nome }}</td>
                  <td>
                    <a class="btn-floating btn waves-effect waves-light red">
                      <i class="material-icons" (click)="_remove(x)">delete</i></a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

<!-- <pre> anotação para conhecimento
    {{alocacao$ | async | json}}
</pre> -->

