    <div>
        <div class="ali">
                <select class="browser-default">
                  <option value="" disabled selected>Tarefa</option>
                  <option *ngFor="let x of pessoas" [value]="x.nome">{{x.nome}}</option>
                </select>
          </div>
          <div class="ali">
                  <select class="browser-default">
                    <option value="" disabled selected>Pessoa</option>
                    <option *ngFor="let x of pessoas" [value]="x.nome">{{x.nome}}</option>
                  </select>
          </div>
          <div class="input-field col s2" class="ali" class="but">
            <button class="waves-effect waves-light btn">Gravar</button>
          </div>
    </div>
        
        <div class="a">
            <div class="row">
                <div class="input-field col s4">
                  <input value="Tarefa X" type="text">
                  <label class="active">Título</label>
                </div>
              </div>
        </div>
        
        <div class="pos-tabela">
            <table class="responsive-table" class="highlight">
              <thead>
                <tr>
                    <th>Pessoa</th>
                    <th class="table-button">Apagar</th>
                </tr>
              </thead>
            
              <tbody>
                <tr *ngFor="let x of pessoas">
                  <td>{{ x.nome }}</td>
                  <td>
                    <a class="btn-floating btn waves-effect waves-light red">
                      <i class="material-icons">delete</i></a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

