
<form [formGroup]="_form" (ngSubmit)="_adicionar()" novalidate>
    <div class="espaco col s12">
            
        <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate" formControlName="nome">
            <label for="icon_prefix">Nome</label>
        </div>  
    
    </div>

    <div class="col s12">      
        <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <input id="icon_telephone" type="email" class="validate" formControlName="email">
            <label for="icon_telephone">Email</label>
        </div>

    </div>           
    <button ng-click="" >Gravar</button>
</form> 

  <div id="list" class="row">
    <div class="table-responsive col-md-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th class="actions">Apagar</th>
             </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of pessoas$ | async">
            <td>{{ x.nome }}</td>
            <td>{{ x.email }}</td>
                <td class="actions">
                    <!-- <a class="btn btn-success btn-xs" href="view.html">Visualizar</a> -->
                    <!-- <a class="btn btn-warning btn-xs" href="edit.html">Editar</a> -->
                    <a class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                </td>
            </tr>
        </tbody>
         </table>
     </div>
 </div> <!-- /#list -->

 <pre>
     {{pessoas$ | async | json}}
 </pre>