<div class="tudo">
    <form [formGroup]="_form" #f="ngForm" >
        <div class="row">
            <div class="input-field col s4">
                <input type="text" class="validate" required formControlName="titulo">
                <label *ngIf="_edit" class="active" >Título</label>
                <label *ngIf="!_edit" >Título</label>
            </div>
        </div>
        <div>
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea validate" required formControlName="descricao"></textarea>
                      <label *ngIf="_edit" class="active" for="textarea1">Descrição</label>
                      <label *ngIf="!_edit" for="textarea1">Descrição</label>
                    </div>
                </div>
            </div>
        </div>
        <div> 
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s2">
                            <i class="material-icons prefix">event</i>
                            <input type="date" class="validate" required formControlName="dtIni">
                        </div>
                        <div class="input-field col s2">
                              <i class="material-icons prefix">event</i>
                              <input type="date" class="validate" required formControlName="dtFim">
                        </div>
                        <div class="row">
                            <button *ngIf="_edit" class="waves-effect waves-light btn" (click)="_adicionar(f)">Gravar Edição</button>
                            <button *ngIf="_edit" class="waves-effect waves-light btn red" (click)="_cancelar(f)">Cancelar</button>
                            <button *ngIf="!_edit" class="waves-effect waves-light btn" (click)="_adicionar(f)">Gravar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="pos-tabela">
            <table class="responsive-table" class="highlight">
              <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Inicio</th>
                    <th>Fim</th>
                    <th class="table-button">Editar</th>
                    <th class="table-button">Apagar</th>
                </tr>
              </thead>
            
              <tbody>
                <tr *ngFor="let x of tarefas$ | async">
                    <td>{{ x.titulo }}</td>
                    <td>{{ x.descricao }}</td>
                    <td>{{ x.dtIni | date:'d/MM/y' }}</td>
                    <td>{{ x.dtFim | date:'d/MM/y' }}</td>
                    <td>
                    <a class="btn-floating btn waves-effect waves-light red">
                      <i class="material-icons" (click)="_editar(x)">edit</i></a>
                  </td>
                  <td>
                    <a class="btn-floating btn waves-effect waves-light red">
                      <i class="material-icons" (click)="_remove(x)">delete</i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
</div>
