<form [formGroup]="_form" (ngSubmit)="_adicionar()" novalidate>
<div class="inputP" >
    <input  placeholder="Titulo" formControlName="titulo">
    </div>
    
    <div class="inputP">
        <textarea name="" id="" cols="30" rows="10" placeholder="Descrição" formControlName="descricao"></textarea>
    </div>
    
    <div>
        <p> Periodo de execução
        <input type="date" formControlName="dtIni"> à <input type="date" formControlName="dtFim"> 
        <button>Gravar</button>
        </p>
    </div>
</form>
      <div id="list" class="row">
        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th>Inicio</th>
                    <th>Fim</th>
                    <th class="actions">Apagar</th>
                 </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of tarefas$ | async">
                <td>{{ x.titulo }}</td>
                <td>{{ x.descricao }}</td>
                <td>{{ x.dtIni | date:'d-MM-y' }}</td>
                <td>{{ x.dtFim | date:'d-MM-y' }}</td>
                    <td class="actions">
                        <!-- <a class="btn btn-success btn-xs" href="view.html">Visualizar</a> -->
                        <!-- <a class="btn btn-warning btn-xs" href="edit.html">Editar</a> -->
                        <a class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                    </td>
                </tr>
            </tbody>
           </table>
         </div>
     </div> <!-- /#list -->

     <pre>
        {{tarefas$ | async | json}}
    </pre>
    